/*----
	Author: W3layouts
	Author URL: http://w3layouts.com
	License: Creative Commons Attribution 3.0 Unported
	License URL: http://creativecommons.org/licenses/by/3.0/
---*/
html,body{
	font-family: 'Lato', sans-serif;
}
.clear{
	clear:both;
}
body a{
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
	-o-transition:0.5s all;
}
body input[type="text"],body input[type="submit"],body textarea,body input[type="button"]{
	-webkit-appearance:none;
}
/*------ HEADERBG STARTS---------*/
.headerbg{
	background: url(../images/bannerbg.png);
	min-height:700px;
	width:100%;
	background-size:cover;
}
/*------ HEADER STARTS---------*/
.header{
	background:rgba(0, 0, 0, 0.24);
}
/*------ CONTAINER STARTS---------*/
/*.container{
	width:70%;
}*/
/*------ LOGO STARTS---------*/
.logo{
	float:left;
	margin:0.5em 0 0.5em 0em;
}
.logo a{
	color:#B5A9B7;
	font-size:1.9em;
}
.logo a:hover{
	color:#B5A9B7;
    text-decoration:none;
}
/*------ LOGO ENDS---------*/
/*------ TOPNAV STARTS---------*/
.nav{
	float:right;
}
.nav ul li{
	display:inline-block;
	margin:1em 1.5em 0 0;
}
.nav ul li a{
	color:#B5A9B7;
}
.nav ul li a:hover{
	color:gray;
	text-decoration:none;
}
/*------ TOPNAV ENDS---------*/
/*------ HEADER ENDS---------*/
/*------ BANNER STARTS---------*/
.banner{
  	position: absolute;
	width: 86%;
}
.banner-info{
	width: 70%;
	float: right;
}
.bannerlogo{
	float: left;
	margin-top: 0.8em;
}
.bannerhead{
	float:right;
}
.bannerhead h2{
	color: #C5B7B8;
	margin:0;
	padding:0;
}
.bannerhead h2 span{
	color:#F1E9F2;
	font-weight:bolder;
	font-size:1.2em;
}
.bannerhead h3{
	color:#281D24;
	font-weight:bolder;
    font-size:2.5em;
}
.bannerhead p{
    color:#F1E9F2;
}
a.downarrow  span{
 	height:48px;
    width:48px;
    background:url(../images/down.png);
    display:inline-block;
}
a.downarrow{
  	display: block;
	position: absolute;
	top: 370px;
	left: 17%;
}
.bannerhead{
	position: relative;
	width: 90%;
}
.banner-info{
	position: relative;
	top: 182px;
	left: 11%;
}
/*------ About STARTS---------*/
.about{
	color:white;
	text-align:center;
	background:#281D24;
}
.header-section h2{
	color: #C6C3C5;
	font-weight: 300;
	margin-top: 2.5em;
	margin: 0;
	padding: 2em 0 1em 0;
}
.header-section span{
	background: #8C868A;
	height:1px;
	width:20%;
	display:inline-block;
	vertical-align:middle;
}
.header-section span:nth-child(1){
	margin-right:10px;
}
.header-section span:nth-child(2){
	margin-left:10px;
}
.about span p{
	color: gray;
	line-height: 2em;
	margin-bottom: 4em;
	width: 71%;
	margin: 0 auto;
}
.years{
	margin-bottom:4em;
	color:#F1F0F0;
}
.years p{
	padding-top:1em;
	line-height:2em;
	width: 45%;
	margin:0 auto;
}
.labs p{
	width: 50%;
	margin: 0 auto;
}
.years h4,.years span h4{
	margin-top:1em;
}
.arrow span{
	height:48px;
	width:48px;
	background:url(../images/bwn.png);
	display:inline-block;
}
a.arrow{
	margin:2em 0 4em 0;
	display:inline-block;
}
/*------Skill-Section STARTS---------*/
.skills{
	min-height:600px;
	background:#20191B;
	position:relative;
}
.skill-section h2{
	color:#C6C3C5;
	font-weight:300;
	margin-top:2.5em;
}
.skill-section span{
	background: #8C868A;
	height:1px;
	width:20%;
	display:inline-block;
	vertical-align:middle;
}
.skill-section span:nth-child(1){
	margin-right:10px;
}
.skill-section span:nth-child(2){
	margin-left:10px;
}
.skill-grids{
	padding:3em 0;
}
.skill-grid h3{
	color:#FFF;
	font-size:1.8em;
}
.circle{
	color:#FFF;
}
#canvas{
	position:relative;
}
/*.down span{
	height:48px;
	width:48px;
	background:url(../images/bwn.png);
	display:inline-block;
}
a.down{
	padding:4em 0 0 2em;
	display:inline-block;
	position: absolute;
    left:46%;
}*/
/*------Skill-Section Ends---------*/
/*------Portfolio-Section STARTS---------*/
.Portfolio{
	min-height:600px;
	background:#ffffff;
	text-align:center;
}
.Portfolio-section h2{
	color:#91898D;
	font-size:2em;
	padding:2em 0 1em;
	margin: 0;
}
.Portfolio-section span{
	background:#8C868A;
	height:1px;
	width:20%;
	display:inline-block;
	vertical-align:middle;
}
.Portfolio-section span:nth-child(1){
	margin-right:10px;
}
.Portfolio-section span:nth-child(2){
	margin-left:10px;
}
.portfolio-grids{
	padding-top:2em;
}
.portfolio-grid{
	display:inline-block;
}
.portfolio-grid p{
	margin:3em 1em 0 1em;
	color:#504A4C;
	line-height:25px;
}
.portfolio-grid img{
	width:100%;
}
a.rightarrow  span{
	height:30px;
	width:30.5px;
	background:url(../images/rightarw.png);
	display:inline-block;
}
a.rightarrow{
	margin-top:1em;
	display:inline-block;
}
.portdown span{
	height:48px;
	width:48px;
	background:url(../images/bwn.png);
	display:inline-block;
	}
a.portdown{
	margin:4em 0 3em 1em;
	display:inline-block;
	}

